/* ヘッダー */
header {
    position: sticky;
}
/* 画像スライダー */
/* .splide__slide img {
    width: 85%;
    height: auto;
    object-fit: cover;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5%;
} */
/* 戻るボタン */
.backBtn{
    background-color: #fff;
    border: none;
}
/* .postDate{
    text-align: end;
    padding: 0%;
} */
/* 詳細トグルボタン内容 */
.postInfo>p{
    margin-bottom: 8px;
}
/* いいねボタン */
#likeBtn{
    border: none;
    background-color: #fff;
}
/* コメントモーダル */
.modal{
    display: none;
}
/* コメントモーダルアイコン */
.icon-image {
    width: 4rem; /* アイコンの幅 */
    height: 4rem; /* アイコンの高さ */
  }
  .icon-image img {
  max-height: 100%;
  width: auto;
}
/* モーダル　送信先選択 */
.replySelect{
    width: 75%;
}
/* モーダルコメント送信ボタン */
.commentSaveBtn{
    background-color: #FFAC4A;
    border: none;
    border-radius: 15px;
    height: 2rem;
}
/* モーダルキャンセルボタン */
#closeBtn{
    background-color: #fff;
    border: none;
    color: #B8B5B5;
}
/* モーダル　コメントテキストボックス */
.modalComment_datail{
    border: none;
    height: 10rem;
}
.modalComment_datail:focus{
    outline: none;
}
/* .navigation{
    height: 10%;
    position: sticky;
} */